article p{
    background: blue;
    color: white;
    padding: 20px;
}
article > p {
    background: red;
}
article ~ p{
    background:purple;
    color:white;
    padding:20px;
}
article + p{
    background: orange;
}
h3:first-child{
    background-color: green;
    color: white;
}
input:invalid{
    border: 2px solid red;
}
input:valid {
    border: 2px solid green;
}
input:focus{
    background-color: yellow;
}
input:out-of-range{
    border: red;
}
span:first-of-type{
    background: black;
    color: white;
    padding: 10px;
}
header p::first-line{
    color: red;
}
h1::before{
    content:url("Nature.jpg");
}
h1::after{
    content:url("Nature.jpg");
}
::selection{
    color:white;
    background-color: red;
}
div{
    opacity: 0.2;
}