
<style>
    footer{

    }
    footer{
        background-color: #0099ff;
        height: 50px;
        margin: -40px 0 0 0;
    }
    footer p{
        text-alight: center;
        color: white;
        font-size: 18px;
    }
 </style>