p{
    background: url(background-image.jpg);
    font-size: 50px;
    margin:100px 150px 100px 80px;
    color: rgb(255,50,255);
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
div{
    color: #003a6d;
    padding: 50px;
    width: 300px;
    border: 15px solid green;
    margin:20px;
    font-size: 20px;
    background-color: pink;

}
body{
    background: url(background-image.jpg);
    background-size: cover;
}