body{
    margin: 0;
    font-family: 'Titillium Web' , sans-serif;
}
#section-1{
    background-color: #87509c;
    height:600px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
header{
    padding: 55px;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li.active {
    background-color: #643a79;
    border-radius: 5px;
}
.main-heading {
    margin-top: 148px;
    text-align: center;
}
.main-heading h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}
.main-heading a {
    text-decoration: none;
    background-color: #eb7d4b;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 25px 85px;
    color: white;
}
header img{
    height: 50px;
    width: 50px;
}





@media only screen and (max-width:800px){
    header{
        flex-direction: column;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
    }
    .main-heading h1{
        font-size: 20px;
        width: 90%;
        margin-left: auto;
        margin-right:auto;
    }
    .main-heading a {
        font-size: 13px;
        padding: 25px;
    }
}
.main-heading{
    margin-top: 0;
}
nav ul li.active{
    padding-right:0;
}
nav ul{
    padding-left: 0;
}
.service{
    width: 100%;
}
.services-box {
    flex-direction: column;
}
.title-box {
    width: 90%;
}
input[type="text"], input[type="email"], textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}